config SHIELD_roba
    bool "roba shield"
    help
      Parent config for roba keyboard shields.

config SHIELD_roba_R
    bool "roba Right"
    select SHIELD_roba
    default y if SHIELD_LIST_CONTAINS_roba_R

config SHIELD_roba_L
    bool "roba Left"
    select SHIELD_roba
    default y if SHIELD_LIST_CONTAINS_roba_L
