config SHIELD_ROBA
    bool "roBa shield"
    help
      Parent config for roBa keyboard shields.

config SHIELD_ROBA_R
    bool "roBa Right"
    select SHIELD_ROBA
    default y if SHIELD_LIST_CONTAINS_roBa_R

config SHIELD_ROBA_L
    bool "roBa Left"
    select SHIELD_ROBA
    default y if SHIELD_LIST_CONTAINS_roBa_L
