name: Build ZMK firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Install dependencies
        uses: zmkfirmware/zmk-setup@v1

      - name: Build (default)
        run: |
          west build -s zmk/app -b nice_nano_v2 -- -DZMK_CONFIG=${{ github.workspace }}/config

      - name: Upload firmware
        uses: actions/upload-artifact@v3
        with:
          name: firmware
          path: build/zephyr/*.uf2
