name: Build ZMK Firmware

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        board: [seeeduino_xiao_ble]
        shield: [roba_l, roba_r]
        snippet: [studio-rpc-usb-uart]

    steps:
      - uses: actions/checkout@v3

      - name: Install Zephyr environment
        uses: zmkfirmware/setup-zmk@v1

      - name: Build firmware
        uses: zmkfirmware/build-zmk@v1
        with:
          board: ${{ matrix.board }}
          shield: ${{ matrix.shield }}
          snippet: ${{ matrix.snippet }}
